# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# Obsidian config
.obsidian

_notes/00 Meta/01 Templates/
_notes/10 🗂 Journals/
_notes/00 Meta/04 Script/
_notes/70 Work/
_notes/999 filter/